.bundle
.rubocop-http*
pkg/*
Gemfile.lock
tmp
log/*
.byebug_history
vendor/cache/byebug-*.gem
vendor/cache/coderay-*.gem
vendor/cache/concurrent-ruby-*.gem
vendor/cache/connection_pool-*.gem
vendor/cache/i18n-*.gem
vendor/cache/method_source-*.gem
vendor/cache/minitest-*.gem
vendor/cache/minitest-focus-*.gem
vendor/cache/pry-*.gem
vendor/cache/pry-*.gem
vendor/cache/rake-*.gem
vendor/cache/toxiproxy-*.gem
vendor/cache/tzinfo-*.gem
vendor/cache/zeitwerk-*.gem
